<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=900, user-scalable=no"/>
  <title>{{#if title }}{{title}}(淘优团){{else}}淘优团{{/if}}</title>
  {{{css "order"}}}
</head>
<body>
    {{{js "main" }}}
    {{{body}}}
</body>
</html>
