<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>{{#if title }}{{title}}(夕阳流量){{else}}夕阳流量{{/if}}</title>
  {{{css "flow"}}}
</head>
<body>
    {{{js "flow" }}}
    {{{body}}}
</body>
</html>
