<style type="text/css">
@media only screen and (min-width: 200px) {
  .detail {
  height: 400px !important;
  }
  .detail {
  max-height: 400px !important;
  }
}
@media only screen and (min-width: 400px) {
  .detail {
  height: 600px !important;
  }
  .detail {
  max-height: 600px !important;
  }
}
@media only screen and (min-width: 800px) {
  .detail {
  height: 1000px !important;
  }
  .detail {
  max-height: 1000px !important;
  }
}
@media only screen and (min-width: 1000px) {
  .detail {
  height: 1200px !important;
  }
  .detail {
  max-height: 1200px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .detail {
  height: 1800px !important;
  }
  .detail {
  max-height: 1800px !important;
  }
}

</style>
<div class="page-group">
  <div class="page page-current" >
    <div class="content">
        <div class="fdcharge">
            <div class="chargel">
                <input type="tel" class="txtphone" placeholder="请先输入充值手机号码"
                       name="mobile" id="mobile" maxlength="11" autocomplete="off"/>
            </div>
            <div class="charger">
                <span class="phoneisp"></span><i class="iconfont" style="font-size:1.2rem;">&#xe601</i>
            </div>
        </div>
         <div class="ui-form-item ui-form-item-switch ui-border-b" style="margin-top: 5px">
            <label class="ui-txt-info">您有{{ customer.totalIntegral }}积分，使用积分</lable>
            <label class="ui-switch label-switch">
              <input type="checkbox" value="1" id="use-integral" data-exchangerate={{ exchangeRate }} data-totalintegral="{{ customer.totalIntegral  }}">
              <div class="checkbox"></div>
            </label>
        </div>
        <div class="row">
          {{> paymentMethods }}
        </div>
        <div class="content-block content-product" >
            <div class="buttons-row">
                <a href="#tabchargeliuliang" class="tab-link active button">充流量</a>
                <a href="#tabchargehuafei" class="tab-link button">充话费</a>
            </div>

            <div class="tabs" style="margin-top: 0.7rem;">
                <div id="tabchargeliuliang" class="tab active" datatypeclass=".liuliang">
                  <div class="content-block chargelist huafei" datatype="2">
                    <div class="row">
                      <div class="col-33">暂时缺货</div>
                    </div>
                  </div>
                </div>
                <div id="tabchargehuafei" class="tab" datatypeclass=".huafei">
                  <div class="content-block chargelist huafei" datatype="2">
                    <div class="row">
                      <div class="col-33">暂时缺货</div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <a href="#" class="button button-fill submitbtn submitbtn-disable" >立即支付</a>
        <div class="llb list-block product-list">
            <ul>
                <!--可供购买的类型-->
            </ul>
        </div>
    </div>
    <nav class="bar bar-tab">
        <a class="tab-item external active" href='javascript:location.replace("/weixin/recharge/index")'>
            <span class="icon"><i class="iconfont">&#xe600</i></span>
            <span class="tab-label">充值中心</span>
        </a>
        <a class="tab-item external" href='javascript:location.replace("/weixin/user/floworder")'>
            <span class="icon"><i class="iconfont">&#xe604</i></span>
            <span class="tab-label">订单</span>
        </a>
        <a class="tab-item external" href='javascript:location.replace("/weixin/user/index")'>
            <span class="icon"><i class="iconfont">&#xe603</i></span>
            <span class="tab-label">会员中心</span>
        </a>
    </nav>
</div>

<div id="actionSheet_wrap">
  <div class="weui_mask_transition weui_fade_toggle" id="mask-block" style="display: none;"></div>
  <div class="weui_actionsheet" id="weui_actionsheet">
    <div class="weui_actionsheet_action">
      <div class="weui_actionsheet_cell">充值详情</div>
    </div>
    <div class="weui_actionsheet_menu">
      <article class="weui_article detail" style="overflow: scroll;">
        <span id="detail-0" style="display: none;">广东移动省内流量介绍 <br>充值对象】：仅限广东移动2G\/3G\/4G手机用户充值；<br>【有效期限】：自生效30天有效期，可跨月，与月结无关；<br>【流量类型】：国内流量！<br>【使用范围】：所充值流量可全国范围内使用；<br>【充值限制】：流量为通过集团流量自由充形式充值，属于集群共享流量，无限叠加；流量王、随心王、飞享套餐和转品牌套餐、4g省内30天有效专用流量的客户不得使用,充了后果自负；<br>【注意事项】：由于用户误填写手机号码后充入别人账号，责任用户自行承担；<br>【特殊情况】：此产品只能充值广东省移动的手机号，其他省份一概不支持；<br>【到帐时间】：早上9点至晚上10点为充值时间，1~6小时左右到账，如遇移动延迟则48小时内<br>【查询方式】：发送CXLL至10086查询；<br>【其他问题】：充值成功一般有短信提醒，若未收到短信可咨询10086查询流量情况（流量查询）；流量无法抵扣超出的流量及话费！<br>【售后处理】：对流量使用或者套餐有限制的某些号码咨询运营商，不接受说充了不能用等问题的售后，这个是您号码问题，不是流量的问题。
        </span>
        <span id="detail-1" style="display: none;">联通全国流量介绍： <br>1.【充值对象】：全国联通用户均可充值； <br>2.【流量类型】：4G、3G、2G通用网络流量； <br>3.【使用范围】：全国通用流量，全天24小时，不分时段； <br>4.【充值限制】：每个套餐每月最多叠加5次，不同套餐可以叠加； <br>5.【注意事项】：流量充值无法进行冲正，请务必填写正确的手机号码，如填写错误损失自行负责； <br>6.【特殊情况】：不能充值流量的用户：欠费用户、无实名用户、停机状态、转网业务、其他情形参照运营商规定； <br>7.【到帐时间】：一般1-10分钟到账，24小时后还查不到流量到帐的或者漏充的，请联系客服处理； <br>8.【查询方式】：发送cxll到10010查询，或者拨打服务热线10010查询(建议客户充前和充后各查1次，作为凭证)； <br>9.【有效期限】：自充值成功起至月末清零； <br>10.最终解释权归本公司所有
        </span>
        <span id="detail-2" style="display: none;">全国电信流量介绍： <br>1.【充值对象】：全国电信用户均可充值； <br>2.【流量类型】：4G、3G、2G通用网络流量； <br>3.【使用范围】：全国通用流量，全天24小时，不分时段； <br>4.【充值限制】：不限制次数； <br>5.【注意事项】：流量充值无法进行冲正，请务必填写正确的手机号码，如填写错误损失自行负责； <br>6.【特殊情况】：不能充值流量的用户：欠费用户、无实名用户、停机状态、转网业务、其他情形参照运营商规定； <br>7.【到帐时间】：一般1-10分钟到账，24小时后还查不到流量到帐的或者漏充的，请联系客服处理； <br>8.【查询方式】：发送cxll到10001查询，或者拨打服务热线10010查询(建议客户充前和充后各查1次，作为凭证)； <br>9.【有效期限】：自充值成功起至月末清零； <br>10.最终解释权归本公司所有</span>
      </article>
    </div>
    <hr>
    <div class="weui_actionsheet_action">
      <div class="weui_actionsheet_cell" id="actionsheet_cancel">关  闭</div>
    </div>
  </div>
</div>

{{> alertmodal }}
{{> extractConfirm }}
{{> loading }}

<script id="trafficplans-template" type="text/x-handlebars-template">
<div class="content-block chargelist huafei" datatype="2">
  \{{#each trafficPlans}}
    <div class="row">
      \{{#each this}}
        <div class="col-33 chargeitem" data-id="\{{id}}" data-type="\{{../../type}}">\{{name}}</div>
      \{{/each}}
    </div>
  \{{/each}}
</div>
</script>

<script id="li-template" type="text/x-handlebars-template">
\{{#each plans}}
  <li class="item-content">
    <div class="item-inner">
      <div class="item-title" style="white-space: inherit !important;">
        <span>
          <span class="newpprice">\{{cost}}元</span><span class="oldpprice">\{{cost}}元</span>
          <span class="badge"></span>
        </span>
        <br>
        <span class="premark"><span style="color: red">\{{#if desc}}\{{desc}}\{{else}}国内流量，30天有效期\{{/if}}</span>，1-3小时到账。</span>
      </div>
      <div class="item-after">
        <a href="#" class="showActionSheet button button-fill button-warning" data-provider="\{{providerId}}" data-type="\{{productType}}" data-id="\{{id}}">详情</a>&nbsp;
        <a href="#" data-type="\{{productType}}" data-name="\{{name}}" data-cost="\{{cost}}" data-provider="\{{providerId}}" class="exchanger button button-fill" data-id="\{{id}}">购买</a>
      </div>
    </div>
  </li>
\{{/each}}
</script>



<script id="empty-template" type="text/x-handlebars-template">
<div class="content-block chargelist huafei" datatype="2">
  <div class="row">
    <div class="col-33">暂时缺货</div>
  </div>
</div>
</script>
