<div class="page-group">
  <div class="page page-current" >
    <div class="content">
        <div class="fdcharge">
            <div class="chargel">
                <input type="tel" class="txtphone" placeholder="请先输入充值手机号码"
                       name="mobile" id="mobile" maxlength="11" autocomplete="off"/>
            </div>
            <div class="charger">
                <span class="phoneisp"></span><i class="iconfont" style="font-size:1.2rem;">&#xe601</i>
            </div>
        </div>
         <div class="ui-form-item ui-form-item-switch ui-border-b" style="margin-top: 5px">
            <label class="ui-txt-info">您有{{ customer.totalIntegral }}积分，使用积分</lable>
            <label class="ui-switch label-switch">
              <input type="checkbox" value="1" id="use-integral" data-exchangerate={{ exchangeRate }} data-totalintegral="{{ customer.totalIntegral  }}">
              <div class="checkbox"></div>
            </label>
        </div>
        <div class="row">
          {{> paymentMethods }}
        </div>
        <div class="content-block content-product" >
            <div class="buttons-row">
                <a href="#tabchargeliuliang" class="tab-link active button">充流量</a>
                <a href="#tabchargehuafei" class="tab-link button">充话费</a>
            </div>

            <div class="tabs" style="margin-top: 0.7rem;">
                <div id="tabchargeliuliang" class="tab active" datatypeclass=".liuliang">

                </div>
                <div id="tabchargehuafei" class="tab" datatypeclass=".huafei">

                </div>
            </div>
        </div>
        <a href="#" class="button button-fill submitbtn submitbtn-disable" >立即支付</a>
        <div class="llb list-block product-list">
            <ul>
                <!--可供购买的类型-->
            </ul>
        </div>
    </div>
    <nav class="bar bar-tab">
        <a class="tab-item external active" href='javascript:location.replace("/weixin/recharge/index")'>
            <span class="icon"><i class="iconfont">&#xe600</i></span>
            <span class="tab-label">充值中心</span>
        </a>
        <a class="tab-item external" href='javascript:location.replace("/weixin/user/floworder")'>
            <span class="icon"><i class="iconfont">&#xe604</i></span>
            <span class="tab-label">订单</span>
        </a>
        <a class="tab-item external" href='javascript:location.replace("/weixin/user/index")'>
            <span class="icon"><i class="iconfont">&#xe603</i></span>
            <span class="tab-label">会员中心</span>
        </a>
    </nav>
    <div class="product_info" style="font-size:0.65rem;display:none">
      <div class="page page-current">
        <header class="bar bar-nav" style="padding:0; height:auto; background-color:transparent">
            <div class="buttons-tab">
                <a href="#tab1" id="pimginfo" class="tab-link active button">充值详情</a>
            </div>
        </header>
        <div class="content" style="top:2.0rem;">
          <div class="tabs">
            <div id="tab1" class="tab active">
              <div class="content-block">
                 <pre id="productinfo" style="white-space: pre-wrap;word-wrap: break-word;"></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bar bar-tab" style="z-index:20000; bottom:1rem;text-align:right; padding-right:1rem; height:1.5rem;background-color:transparent; ">
    </div>
  </div>

</div>

<div id="actionSheet_wrap">
  <div class="weui_mask_transition weui_fade_toggle" id="mask-block" style="display: none;"></div>
  <div class="weui_actionsheet" id="weui_actionsheet">
    <div class="weui_actionsheet_action">
      <div class="weui_actionsheet_cell" id="actionsheet_cancel">关  闭</div>
    </div>
    <hr>
    <div class="weui_actionsheet_menu">
      <article class="weui_article">
        <span id="detail-0">广东移动省内流量介绍 <br>1.【充值对象】：限广东移动用户，其他省份用户无法充值；
        </span>
      </article>
    </div>
  </div>
</div>

{{> alertmodal }}
{{> extractConfirm }}
{{> loading }}

<script id="trafficplans-template" type="text/x-handlebars-template">
<div class="content-block chargelist huafei" datatype="2">
  \{{#each trafficPlans}}
    <div class="row">
      \{{#each this}}
        <div class="col-33 chargeitem" data-id="\{{id}}" data-type="\{{../../type}}">\{{name}}</div>
      \{{/each}}
    </div>
  \{{/each}}
</div>
</script>

<script id="li-template" type="text/x-handlebars-template">
\{{#each plans}}
  <li class="item-content">
    <div class="item-inner">
      <div class="item-title" style="white-space: inherit !important;">
        <span>
          <span class="newpprice">\{{cost}}元</span><span class="oldpprice">\{{cost}}元</span>
          <span class="badge"></span>
        </span>
        <br>
        <span class="premark"><span style="color: red">国内流量，30天有效期</span>，1-3小时到账。</span>
      </div>
      <div class="item-after">
        <a href="#" class="showActionSheet button button-fill button-warning" data-id="\{{id}}">详情</a>&nbsp;
        <a href="#" data-type="\{{productType}}" data-name="\{{name}}" data-cost="\{{cost}}" data-provider="\{{providerId}}" class="exchanger button button-fill" data-id="\{{id}}">购买</a>
      </div>
    </div>
  </li>
\{{/each}}
</script>

