<div class="easyui-navpanel">
  <div class="banner">
    <ul>
      <li>
        <img src="http://czdl.xinhaoba.com/weixin/img/banner_new1.png">
      </li>
      <!--
        <li>
        <img src="/weixin/img/banner.png"></li>
        <li>
        <img src="/weixin/img/banner.png"></li>
        -->
    </ul>
  </div>
  <!-- <div class="container" style="background:#00FFFF">
    -->
  <div class="container">
    <div class="yunying">
      <div class="line-goodsInfo">
        <div class="line-content">
          <p>提示：请选择运营商</p>
        </div>
      </div>
      <ul class="bottonYun">
        <li data-id='yd' class="current">
          <span>
          <img src="/images/yidogn.png"></span> <b>移动</b>
        </li>
        <li data-id='lt'>
          <span>
          <img src="/images/liantong.png"></span> <b>联通</b>
        </li>
        <li data-id='dx'>
          <span>
          <img src="/images/dianxin.png"></span>
          <b>电信</b>
        </li>
      </ul>
    </div>
    <div class="leixing">
      <div class="line-goodsInfo">
        <div class="line-content">
          <!-- <p style="background:#00FFFF">提示：请选择流量类型</p>
            -->
          <p>提示：请选择流量类型</p>
        </div>
      </div>
      <ul class="bottonStyle">
        {{#each CMCCtrafficGroups}}
          <li id='CMCC-{{id}}' {{#if @first}}class="current"{{/if}}>
            {{ cmccGroupName name }}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="phoneCon">
      <input id="nbr" class="number" type="text" placeholder="请输入手机号码：" maxlength="11" style="ime-mode:disabled" onkeydown="if(event.keyCode==13)event.keyCode=9" />
      <div class =" tips alltextright">
        <span id="tips" style="font-size:40px;">广东号码国内流量认准《五一惠价》购买，流量有效期5.1至5.31</span>
      </div>
      <div class =" tips alltextright">
        <span id="error_div" style="color:red;font-size:40px;"/>
      </div>
      <div class="tips alltextright">
        <span id="success_div"/>
      </div>
    </div>
    <div id="payInfo" class="paycontianer">
      <ul>
        <li>
          <div class="type1">
            <span>500M(20天有效</span>
            <span></span>
          </div>
          <div class="type2">
            <span onclick="openit()">详情</span>
          </div>
          <div class="type3">
            <b>21元</b>
          </div>
          <div class="type4">
            <b onclick="submit(1237)">购买</b>
          </div>
        </li>
        <li>
          <div class="type1">
            <span>1000M(20天有效</span>
            <span></span>
          </div>
          <div class="type2">
            <span onclick="openit()">详情</span>
          </div>
          <div class="type3">
            <b>35元</b>
          </div>
          <div class="type4">
            <b onclick="submit(1239)">购买</b>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="p2" class="easyui-navpanel">
  <header>
    <div class="m-toolbar">
      <br/>
      <span class="m-title" style="font-size:50px;">业务详情介绍</span>
    </div>
  </header>
  <div style="margin:10px 0 0;text-align:center">
    <span id="p2-title" style="margin:0 20px 20px 20px;text-align:left">
      <ul class="m-list">
        <li>
          <span style="color:#000000;font-size:40px; display: none;">
          广东移动省内流量介绍
          <br>
          1.【充值对象】：限广东移动用户，其他省份用户无法充值；
          <br>
          2.【有效期限】：自充值成功起算20天（月结不清零，可跨月使用）；
          <br>
          3.【流量类型】：4G、3G、2G通用网络流量；
          <br>
          4.【使用范围】：省内使用，全天24小时，不分时段（本流量红包是优先使用的,即使在夜间也是优先于您的闲时流量使用）；
          <br>
          5.【充值限制】：可无限次充值；
          <br>
          6.【注意事项】：流量充值无法进行冲正，请务必填写正确的手机号码，如填写错误损失自行负责；
          <br>
          7.【特殊情况】：欠费停机或转套餐未生效的号码、移动4G随心王，无法进行流量充值
          <br>
          8.【到帐时间】：正常1-10分钟到账。
          <br>
          9.【查询方式】：发送cxll到10086查询；
          <br>
          10.【其他问题】: 流量到帐一般有短信通知，特殊时段（如夜间22:00-08:00或移动繁忙时段）可能会没有短信通知，不过流量会正常到帐的（流量查询）；您的4G流量一用完移动就会默认关闭您的4G功能，建议在没用完您的4G流量前来充值，若移动关闭了您的4G功能可以让10086客服帮您重新开通。
          <br>11.最终解释权归本公司所有</span>
        </li>
        <li></li>
      </ul>
    </span>
    <a href="javascript:void(0)" class="easyui-linkbutton" style="width:100px;height:30px" onclick="$.mobile.back()">
    <span style="font-size:40px;">返回充值界面</span>
    </a>
  </div>
</div>

<script id="trafficplans-template" type="text/x-handlebars-template">
\{{#each trafficgroups}}
  <div>
    <div class="weui_cells_title">\{{name}}</div>
    <div class="weui_cells">
      \{{#each trafficplans}}
        <li>
          <div class="type1">
            <span>\{{name}}</span>
            <span></span>
          </div>
          <div class="type2">
            <span onclick="openit()">详情</span>
          </div>
          <div class="type3">
            <b>\{{cost}}元</b>
          </div>
          <div class="type4">
            <b data-name="\{{name}}" data-value="\{{id}}" data-cost="\{{cost}}" onclick="submit(1237)">购买</b>
          </div>
        </li>
      \{{/each}}
    </div>
  </div>
\{{/each}}
</script>



<script type="text/javascript">
$(function(){

})
</script>