<div class="easyui-navpanel">
  <div class="row">
    {{> "yiweixin/banners" banners=banners }}
  </div>
  <div class="container">
    <div class="yunying">
      <div class="line-goodsInfo">
        <div class="line-content">
          <p>提示：请选择运营商</p>
        </div>
      </div>
      <ul class="bottonYun">
        <li data-id='yd' data-provider="中国移动" class="current">
          <span>
          <img src="/images/yidogn.png"></span> <b>移动</b>
        </li>
        <li data-id='lt' data-provider="中国联通">
          <span>
          <img src="/images/liantong.png"></span> <b>联通</b>
        </li>
        <li data-id='dx' data-provider="中国电信">
          <span>
          <img src="/images/dianxin.png"></span>
          <b>电信</b>
        </li>
      </ul>
    </div>
    <div class="leixing">
      <div class="line-goodsInfo">
        <div class="line-content">
          <p>提示：请选择流量类型</p>
        </div>
      </div>
      <ul class="bottonStyle">
        {{#each CMCCtrafficGroups}}
          <li data-id='{{id}}' {{#if @first}}class="current"{{/if}}>
            {{ cmccGroupName name }}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="phoneCon">
      <input id="mobile" class="number" type="text" style="margin-bottom: 10px" placeholder="请输入手机号码：" maxlength="11" style="ime-mode:disabled"/>
      <div class="page cell">
        <div class="bd">
          <div class="weui_cells weui_cells_form" style="width: 98%;padding-top: 10px;padding-bottom: 10px;">
            <div class="weui_cell weui_cell_switch">
              <div class="weui_cell_hd weui_cell_primary" style="font-size: 35px;">积  分: {{ customer.totalIntegral }}</div>
              <div class="weui_cell_ft">
                <input class="weui_switch" type="checkbox" id="use-integral" data-exchangerate={{ exchangeRate }} data-totalintegral="{{ customer.totalIntegral  }}">
              </div>
            </div>
          </div>
          {{> paymentMethods }}
        </div>
      </div>

      <div class ="tips alltextright">
        <span id="tips" style="font-size:40px;">广东号码国内流量认准《五一惠价》购买，流量有效期5.1至5.31</span>
      </div>
      <div class =" tips alltextright">
        <span id="error_div" style="color:red;font-size:40px;"/>
      </div>
      <div class="tips alltextright">
        <span id="success_div"/>
      </div>
    </div>
    <div class="llb paycontianer">
    </div>
    <div class="no_data" style="display: none"></div>
  </div>
</div>

{{> alertmodal }}
{{> extractConfirm }}
{{> loading }}

<script id="trafficplans-template" type="text/x-handlebars-template">
\{{#each trafficgroups}}
  <ul>
    \{{#each trafficplans}}
      <li>
        <div class="type1">
          <span>\{{name}}</span>
          <span></span>
        </div>
        <div class="type2">
          <span onclick="openit()">详情</span>
        </div>
        <div class="type3">
          <b>\{{cost}}元</b>
        </div>
        <div class="type4">
          <b class="exchanger" data-name="\{{name}}" data-value="\{{id}}" data-cost="\{{cost}}">购买</b>
        </div>
      </li>
    \{{/each}}
  </ul>
\{{/each}}
